.overview-metric {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.overview-metric > * {
    flex: 1;
    min-width: 0;
}
.overview-metric .card {
    background: var(--color-primary-card-bg);
    padding: 1rem;
    position: relative;
    height: fit-content;
}
.overview-metric .label {
    font-size: var(--text-size-metric-label);
    color: var(--color-primary-text);
    letter-spacing: 1.5px;
    margin-bottom: .25rem;
    opacity: 0.75;
}
.overview-metric .value {
    font-size: var(--text-size-metric-value);
    color: var(--color-primary-text);
    line-height: 1;
}
@media (max-width: 768px) {
    .overview-metric .value {
        font-size: 2rem;
    }
    .overview-metric {
        flex-direction: column;
    }
    .overview-metric > * {
        flex: 1;
    }
}
@media (max-width: 480px) {
    .overview-metric {
        gap: .5rem;
    }
    .overview-metric .card {
        padding: .5rem;
    }
    .overview-metric .value {
        font-size: 1.5rem;
    }
}