.ngrams-cluster {
    margin-top: var(--app-margin);
    display: flex;
    flex-direction: column;
    gap: var(--app-gap);
    width: 100%;
}
.ngrams-cluster .charts {
    display: flex;
    flex-wrap: wrap;
    gap: var(--app-gap);
    width: 100%;
    justify-content: flex-start;
}
.ngrams-cluster .chart {
    background: var(--color-primary-card-bg);
    padding: var(--app-padding);
    position: relative;
    height: fit-content;
    min-height: 300px;
    /* 2 items per row on wide screens */
    flex: 1 1 calc(33.333% - 0.67rem); 
    min-width: 300px;
    max-width: calc(33.333% - 0.67rem);
}
@media (max-width: 1200px) {
    .ngrams-cluster .chart {
        flex: 1 1 calc(33.333% - 0.67rem);
        max-width: calc(33.333% - 0.67rem);
    }
}
@media (max-width: 915px) {
    .ngrams-cluster .charts {
        flex-direction: column;
    }
    .ngrams-cluster .chart {
        flex: 1 1 100%;
        max-width: 100%;
        min-width: unset;
    }
}
@media (max-width: 768px) {
    .ngrams-cluster .charts {
        flex-direction: column;
    }
    .ngrams-cluster .chart {
        flex: 1 1 100%;
        max-width: 100%;
        min-width: unset;
    }
}
@media (max-width: 480px) {
    .ngrams-cluster .charts {
        gap: 0.5rem;
    }
}