.keywords {
    display: flex;
    gap: 1rem;
    font-family: 'Roboto Mono', monospace;
    max-height: 300px;
    overflow-y: auto;
}
.keywords .card {
    background-color: var(--color-primary-card-bg);
    padding: 1rem;
    min-width: 140px;
    flex: 1 1 calc(33.33% - 1rem);
    box-sizing: border-box
}
.keywords .title {
    font-weight: bold;
    margin-bottom: 0.25rem;
}
.keywords .text {
    opacity: 0.8;
    font-size: .85rem;
    line-height: 1.5;
}
@media (max-width: 480px) {
    .keywords .card {
        padding: .5rem;
    }
    .keywords .text {
        line-height: 1.25;
    }
}