.footer {
    margin: 1rem;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 4rem;
    color: var(--color-primary-text);
    font-size: 1rem;
    border-top: 2px solid var(--color-primary-fill-color);
}

.footer-branding {

}
.footer-branding .subreddit-data-analytics-dashboard {
    margin-bottom: .25rem;
}
.footer-branding .designed-by-john-dewey {
    font-size: .85rem;
    opacity: .75;
}

.footer-connect {

}

.footer-connect .connect-with-me {
    margin-bottom: .25rem;
}
.footer-connect .links {
    text-decoration: underline;
    font-size: .85rem;
    opacity: .75;
    color: var(--color-primary-text);
}
@media (max-width: 768px) {
    .footer-branding .subreddit-data-analytics-dashboard {
        font-size: .85rem;
    }
    .footer-branding .designed-by-john-dewey {
        font-size: .75rem;
    }
    .footer-connect .connect-with-me {
        font-size: .85rem;
    }
    .footer-connect .links {
        font-size: .75rem;
    }
    .footer {
        flex-direction: column;
        gap: .5rem;
    }
}
@media (max-width: 480px) {
    .footer { 
        margin: .5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
}